<div class="container">
  <img src="./coffee.jpg" alt="header image" id="imgHeader">
  <div class="centered">
    <h1>
      Mongo Scraper
    </h1>
    <br>
    <h5>New York Times Edition</h5>
  </div>
</div>
<hr>



{{#each results}} <div>

  <button id="{{_id}}" class="saveBtn" data-saved="{{saved}}">Save Article</button>


  {{ title }}<br>
  <a href="https://www.nytimes.com{{link}}" target="_blank">Link to article</a>
  <br>
  {{summary}}
  <br>
  <hr>

</div>

{{/each}}